*.auto.tfvars
*.env*
*.orig
*.out
*.swo
*.swp
*.tfstate
*.tfstate.*
*.tmp
*.zip
*output
.DS_Store
.vscode
.opensearch.info
.pytest*
.terraform.lock*
.terraform.lock.hcl
.terraform.tfstate*
.terraform/
__pycache__
bin/terraform
modules/jupyterhub-dask-eks/cluster.yaml
modules/jupyterhub-dask-eks/daskhub.yaml
modules/jupyterhub-dask-eks/spec.yaml
modules/jupyterhub-dask-eks/storageclass.yaml
node_modules
package-lock.json
plan.json
plan.out
saved.plan
stac-server-*
stac-server.tgz
terraform-visual-report
terraform.tgz
modules/stac-server/historical-ingest/lambda/package/*
!modules/cirrus/cirrus-lambda-dist.zip