modules/jupyterhub-dask-eks/cluster.yaml
modules/jupyterhub-dask-eks/daskhub.yaml
modules/jupyterhub-dask-eks/spec.yaml
modules/jupyterhub-dask-eks/storageclass.yaml
.terraform/
terraform-visual-report
plan.json
saved.plan
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tgz
bin/terraform
*.auto.tfvars
*.swp
*.swo
*.env*
*.tmp
*.orig
*.out
*.zip
*output
node_modules
package-lock.json
plan.out
.pytest*
__pycache__
