name: Release Tests

on:
  push:
    branches: ["main"]
    tags: ["v*.*.*"]

jobs:
  release-tests:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    env:
      CI: true
      CIRRUS_TAG: v1.1.2
      CIRRUS_PY_VERSION: 3.13
    steps:
      - uses: actions/checkout@v6

      # Read the terraform version from the .terraform-version file, and install that version
      - name: Get Terraform version
        id: tf_version
        run: |
          echo "value=$(cat .terraform-version)" >> $GITHUB_OUTPUT
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ steps.tf_version.outputs.value }}

      # - TF_STATE_FILENAME: an s3-friendly terraform state filename, based on the branch/tag name and commit sha. Note
      #   that we need this to be unique per workflow run to avoid statefile conflicts, thus the sha addition
      # - Similarly for PROJECT_NAME, which is used to prefix resources, but must be < 9 chars long
      - name: Setting Pre-Requisites
        id: prereqs
        run: |
          echo "TF_STATE_FILENAME=`echo \"${{  github.ref_name }}-${{ github.sha }}\" | tr -d './' | cut -c1-15`" >> $GITHUB_ENV
          echo "PROJECT_NAME=`echo \"${{  github.ref_name }}-${{ github.sha }}\" | tr -d './' | cut -c1-8`" >> $GITHUB_ENV

      - name: Prepararing Environment
        id: prep_env
        run: |
          echo "project_name = \"${PROJECT_NAME}\"" >> ci.tfvars
          cat ci.tfvars
          echo "Creating terraform backend file ..."
          echo 'terraform {' >> test.s3.backend.tf
          echo '  backend "s3" {' >> test.s3.backend.tf
          echo '    encrypt = true' >> test.s3.backend.tf
          echo '    use_lockfile = true' >> test.s3.backend.tf
          echo "    bucket = \"${{ secrets.FD_CICD_TF_STATE_BUCKET }}\"" >> test.s3.backend.tf
          echo "    key = \"filmdrop-cicd-${TF_STATE_FILENAME}.tfstate\"" >> test.s3.backend.tf
          echo "    region = \"${{ secrets.FD_CICD_AWS_REGION }}\"" >> test.s3.backend.tf
          echo '  }' >> test.s3.backend.tf
          echo '}' >> test.s3.backend.tf
          cat test.s3.backend.tf

      - name: Update cirrus lambda dist
        id: update_cirrus_lambda_dist
        run: ./scripts/update-cirrus-lambda-dist.bash

      - name: Configure Terraform Init Credentials
        id: init_creds
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ secrets.FD_CICD_AWS_REGION }}
          role-to-assume: ${{ secrets.FD_CICD_AWS_ROLE }}
          role-session-name: GitHubReleaseInit

      - name: Terraform Init
        id: tf_init
        run: terraform init

      - name: Terraform Validate
        id: tf_validate
        run: terraform validate

      - name: Configure Terraform Plan Credentials
        id: plan_creds
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ secrets.FD_CICD_AWS_REGION }}
          role-to-assume: ${{ secrets.FD_CICD_AWS_ROLE }}
          role-session-name: GitHubReleasePlan

      - name: Terraform Plan
        id: tf_plan
        run: terraform plan -var-file="ci.tfvars" -out test.tfplan -lock=false

      - name: Configure Terraform Apply Credentials
        id: apply_creds
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ secrets.FD_CICD_AWS_REGION }}
          role-to-assume: ${{ secrets.FD_CICD_AWS_ROLE }}
          role-session-name: GitHubReleaseApply

      - name: Terraform Apply
        id: tf_apply
        continue-on-error: true
        run: terraform apply -lock=false -input=false test.tfplan
      
      - name: Post status to Slack channel
        id: tf_apply_successs
        if: steps.tf_apply.outcome == 'success'
        continue-on-error: true
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.FD_CICD_SLACK_CHANNEL_ID }}
          slack-message: ":badger_dance: filmdrop-aws-tf-modules - ${{  github.ref_name }} - terraform apply job has succeeded!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.FD_CICD_SLACK_BOT_TOKEN }}

      - name: Post status to Slack channel
        id: tf_apply_failure
        if: steps.tf_apply.outcome != 'success'
        continue-on-error: true
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.FD_CICD_SLACK_CHANNEL_ID }}
          slack-message: ":sadpanda: filmdrop-aws-tf-modules - ${{  github.ref_name }} - terraform apply has failed!\n:alert: make sure cleanup job deletes all AWS resources!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.FD_CICD_SLACK_BOT_TOKEN }}

      - name: Configure Terraform Cleanup Check Credentials
        id: cleanup_check_creds
        if: always()
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ secrets.FD_CICD_AWS_REGION }}
          role-to-assume: ${{ secrets.FD_CICD_AWS_ROLE }}
          role-session-name: GitHubReleaseCleanupCheck

      - name: Terraform Destroy Pre-Check
        id: tf_destroy_plan
        if: always()
        run: terraform plan -destroy -var-file="ci.tfvars" -out test-cleanup.tfplan -lock=false

      - name: Configure Terraform Cleanup Credentials
        id: cleanup_creds
        if: always()
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ secrets.FD_CICD_AWS_REGION }}
          role-to-assume: ${{ secrets.FD_CICD_AWS_ROLE }}
          role-session-name: GitHubReleaseCleanup

      - name: Terraform Destroy
        id: tf_destroy_apply
        if: always()
        continue-on-error: true
        run: terraform apply -destroy -lock=false -input=false test-cleanup.tfplan

      - name: Post status to Slack channel
        id: tf_destroy_apply_successs
        if: steps.tf_destroy_apply.outcome == 'success'
        continue-on-error: true
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.FD_CICD_SLACK_CHANNEL_ID }}
          slack-message: ":badger_dance: filmdrop-aws-tf-modules - ${{  github.ref_name }} - cleanup job has succeeded!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.FD_CICD_SLACK_BOT_TOKEN }}

      - name: Post status to Slack channel
        id: tf_destroy_apply_failure
        if: steps.tf_destroy_apply.outcome != 'success'
        continue-on-error: true
        uses: slackapi/slack-github-action@v1.26.0
        with:
          channel-id: ${{ secrets.FD_CICD_SLACK_CHANNEL_ID }}
          slack-message: ":sadpanda: filmdrop-aws-tf-modules - ${{  github.ref_name }} - cleanup job has failed!\n:alert: make sure AWS resources are deleted!\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.FD_CICD_SLACK_BOT_TOKEN }}

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Read the terraform version from the .terraform-version file, and then install that version
      - name: Get Terraform version
        id: tf_version
        run: |
          echo "value=$(cat .terraform-version)" >> $GITHUB_OUTPUT
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ steps.tf_version.outputs.value }}

      - name: Install tflint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: latest

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files
